.element {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}

.element > p {
  display: flex;
}

.element > span:first-child {
  display: flex;
  align-items: center;
}

.show {
  transform: rotate(90deg);
}

.content {
  overflow: hidden;
}
