.c0 {
  --elevation-base-position: 0 2px;
  --elevation-base-color: 211, 211, 211;
  --size-y-small: 0.2rem;
  --size-x-small: 1rem;
  --size-y-normal: 0.35rem;
  --size-x-normal: 1.4rem;
  --size-y-large: 0.5rem;
  --size-x-large: 1.7rem;
}

.elevation-near {
  --element-elevation: var(--elevation-base-position) 5px 0
    rgb(var(--elevation-base-color), 0.4);
}

.elevation-normal {
  --element-elevation: var(--elevation-base-position) 6px 0
    rgb(var(--elevation-base-color), 0.7);
}

.elevation-far {
  --element-elevation: var(--elevation-base-position) 7px 0
    rgb(var(--elevation-base-color), 1);
}

.border-1 {
  --element-border: 1px;
}

.border-2 {
  --element-border: 2px;
}

.border-3 {
  --element-border: 3px;
}

.border-4 {
  --element-border: 4px;
}

.border-5 {
  --element-border: 5px;
}

.size-small {
  --element-size: var(--size-y-small) var(--size-x-small);
  --element-font-size: 12px;
}

.size-small.rounded-full {
  --element-size: var(--size-y-small) !important;
}

.size-normal {
  --element-size: var(--size-y-normal) var(--size-x-normal);
  --element-font-size: 16px;
}

.size-normal.rounded-full {
  --element-size: var(--size-y-normal) !important;
}

.size-large {
  --element-size: var(--size-y-large) var(--size-x-large);
  --element-font-size: 20px;
}

.size-large.rounded-full {
  --element-size: var(--size-y-large) !important;
}

.weight-kighter {
  --element-weight: lighter;
}

.weight-bolder {
  --element-weight: bolder;
}

.weight-bold {
  --element-weight: bold;
}

.rounded-small {
  --element-radius: 2px;
}

.rounded-normal {
  --element-radius: 5px;
}

.rounded-large {
  --element-radius: 7px;
}

.rounded-full {
  --element-radius: 9999px;
}

.transform-cap {
  --element-transform: capitalize;
}

.transform-lower {
  --element-transform: lowercase;
}

.transform-upper {
  --element-transform: uppercase;
}

.decoration-underline {
  --element-decoration: underline;
}

.decoration-overline {
  --element-decoration: overline;
}

.decoration-line-through {
  --element-decoration: line-through;
}

.variant-text {
  --element-border-normal: var(--element-border) solid transparent;
  --element-background-normal: rgb(var(--color-background));
  --element-background-hover: rgb(var(--color-secondary));
  --element-background-clicked: rgba(var(--color-dark), 0.3);
  --element-color: rgb(var(--color-primary));
}

.variant-outlined {
  --element-border-normal: var(--element-border) solid
    rgba(var(--color-primary));
  --element-background-normal: rgb(var(--color-background));
  --element-background-hover: rgb(var(--color-secondary));
  --element-color: rgb(var(--color-primary));
}

.variant-contained {
  --element-border-normal: var(--element-border) solid
    rgba(var(--color-primary));
  --element-border-hover: var(--element-border) solid rgba(var(--color-dark));
  --element-background-normal: rgb(var(--color-primary));
  --element-background-hover: rgb(var(--color-dark));
  --element-color: rgb(var(--color-text-contrast));
}

.element {
  position: relative;
  overflow: hidden;
  font-weight: var(--element-weight);
  box-shadow: var(--element-elevation);
  padding: var(--element-size);
  font-size: var(--element-font-size);
  border-radius: var(--element-radius);
  text-transform: var(--element-transform);
  text-decoration: var(--element-decoration);
  border: var(--element-border-normal);
  background-color: var(--element-background-normal) !important;
  color: var(--element-color);
}

.element:hover {
  background-color: var(--element-background-hover) !important;
}

.element.color-disabled {
  cursor: default !important;
}

.variant-contained:hover {
  border: var(--element-border-hover);
}

.fill {
  background-color: #ff1ead;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-100%) translateY(-100%);
  mix-blend-mode: screen;
  animation: ripple 1250ms ease-out forwards, fade 1500ms ease-out forwards;
}

@keyframes ripple {
  0% {
    transform: translate(-100%, -100%);
  }
  80% {
    transform: translate(-100%, -100%) scale(50);
  }
  100% {
    transform: translate(-100%, -100%) scale(50);
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
