.c0 {
  
}

.element {
  color: rgb(var(--principal-color));
}

.h1 {
  font-weight: bolder;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.h2 {
  font-weight: bolder;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.h3 {
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.5rem;
}

.h4 {
  font-weight: bolder;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.h5 {
  font-weight: bolder;
  font-size: 0.75rem;
  line-height: 1rem;
}

.h6 {
  font-weight: bolder;
  font-size: 10px;
  line-height: 0.7rem;
}

.paragraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.caption {
  color: rgb(var(--principal-color));
  font-weight: lighter;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
